@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply inline-flex justify-center items-center no-underline border-0 py-2 px-7 align-middle select-none rounded shadow-sm font-medium text-center hover:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-transparent focus:ring-offset-1 transition;
  }

  .link {
    @apply inline-block no-underline py-0.5 px-1 rounded font-body font-medium transition-colors focus:outline-none focus:ring-0 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .ps {
    @apply py-12 md:py-14 xl:py-16;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-image: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

#game {
  position: relative;
}

#game::before {
  content: '';
  position: absolute;
  top: 20%;
  z-index: -1;
  width: 65%;
  height: 65%;
  background-image: url('/assets/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#game button {
  box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
}

#game button div {
  box-shadow: inset 0 6px 0 rgba(0, 0, 0, 0.15);
}
