@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex justify-center items-center no-underline border-0 py-2 px-7 align-middle select-none rounded shadow-sm font-body font-medium text-center hover:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-transparent focus:ring-offset-1 transition;
  }

  .link {
    @apply inline-block no-underline py-0.5 px-1 rounded font-body font-medium transition-colors focus:outline-none focus:ring-0 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .ps {
    @apply py-12 md:py-14 xl:py-16;
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-image: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
