@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply inline-flex justify-center items-center no-underline border-0 py-2 px-7 align-middle select-none rounded font-medium text-center focus:outline-none focus:ring-2 focus:ring-offset-transparent focus:ring-offset-1 transition;
  }

  .link {
    @apply inline-block no-underline py-0.5 px-1 rounded font-body font-medium transition-colors focus:outline-none focus:ring-0 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .ps {
    @apply py-12 md:py-14 xl:py-16;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-image: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
  max-width: 28rem;
  margin: 0 auto;
}

.game::before {
  content: '';
  position: absolute;
  top: 20%;
  z-index: -1;
  width: 65%;
  height: 65%;
  background-image: url('/bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.game--hidden {
  display: none;
}

.hand {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  padding: 0;
  box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
}

.hand--bigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.05);
}

.paper {
  background-image: linear-gradient(to bottom, #4865f4, #5671f5);
}

.scissors {
  background-image: linear-gradient(to bottom, #ec9e0e, #eca922);
}

.rock {
  background-image: linear-gradient(to bottom, #dc2e4e, #dd405d);
}

.hand-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: inset 0 6px 0 rgba(0, 0, 0, 0.15);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}

.overlay--visible {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 0 1rem;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'user-title ai-title'
    'user-pick ai-pick';
  place-items: center;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.results--hidden {
  display: none;
}

.results h2:first-of-type {
  grid-area: user-title;
}

.results h2:last-of-type {
  grid-area: ai-title;
}

.results div:first-of-type {
  grid-area: user-pick;
}

.results div:last-of-type {
  grid-area: ai-pick;
}

.results--final {
  max-width: 64rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'user-title ai-title'
    'user-pick ai-pick'
    'outcome outcome';
}

.results__status {
  grid-area: outcome;
  text-align: center;
  margin-top: 2.5rem;
}

.results__status--hidden {
  display: none;
}

.results__result {
  position: relative;
  z-index: -1;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #16213d;
}

.results__result--winner::after {
  position: relative;
  z-index: -5;
  box-shadow: 0 0 0 20px #293251, 0 0 0 40px #232c4b, 0 0 0 60px #1e2949;
}

@media (min-width: 768px) {
  .game {
    column-gap: 1.5rem;
    row-gap: 2rem;
  }

  .hand--bigger {
    transform: scale(1.25);
  }

  .modal {
    width: auto;
    height: auto;
    padding: 1.5rem 2.25rem;
    border-radius: 8px;
  }

  .results--final {
    max-width: 64rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'user-title . ai-title'
      'user-pick outcome ai-pick';
  }

  .results__result--winner {
    position: relative;
    z-index: -5;
    box-shadow: 0 0 0 30px #293251, 0 0 0 60px #232c4b, 0 0 0 90px #1e2949;
  }
}

@media (min-width: 1024px) {
  .hand--bigger {
    transform: scale(1.5);
  }

  .results__result--winner {
    position: relative;
    z-index: -5;
    box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 120px #1e2949;
  }
}
